@model IEnumerable<student_database.Models.Student>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.student_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.umur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alamat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telepon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.student_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.umur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alamat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telepon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
